.jumbotron {
    background-color: darkslategray;
    color: #000;
}

.book {
    flex: 1 30px;
    padding: 5px 5px 5px 5px;
    margin-top: 1%;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: whitesmoke;
    margin-bottom: 0px;
}

.btn-leer {
    width: 100%;
}